[general]
name = "minilib-media"
version = "0.5.2"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/media/image.fix",
    "lib/media/png.fix",
    "lib/media/svg.fix",
]
objects = ["lib_png.o"]
preliminary_commands = [["make", "lib_png.o"]]
dynamic_links = ["png"]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/media/image_test.fix",
    "tests/media/png_test.fix",
    "tests/media/svg_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = "*"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-io"
version = "*"
# path = "../fixlang-minilib-io"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }

[[dependencies]]
name = "minilib-xml"
version = "*"
# path = "../fixlang-minilib-xml"
git = { url = "https://github.com/pt9999/fixlang-minilib-xml.git" }

[[dependencies]]
name = "math"
version = "*"
git = { url = "https://github.com/tttmmmyyyy/fixlang-math.git" }
